<div class="main">

    @if (!isOpened) {
        <div class="center">
            <img (click)="openPresent()" title="I love you" src="assets/cinnamoroll-2-still.gif">
        </div>
        <div class="center">
            <h1>Click on the present to open!</h1>
        </div>
    }
    @else {
        <div class="center">
            <img src="assets/cinnamoroll-2.gif" title="I love you">
        </div>

        <h1>Happy Birthday, Mary!</h1>

        <p>To my dearest girlfriend, Mary<p>

        <p>
            This is my short love letter to confess my love for you.
        </p>

        <p>
            Words also cannot come close to explaining how grateful I am to have you in my life.
            You have made me feel so loved and renewed my interest in life.
            You gave me something to look forward to every weekend.
            When I'm with you, I feel like I can take on the world, I feel like I part from all worries.
            You are everything that I've been searching for.
        </p>
        <p>
            I know things haven't been exactly easy for you. But please remember that you're strong
            and very capable. Where you are in life right now is exactly the proof of that. Things may
            stay hard but just know these things are fleeting in the grand scheme of the universe and never
            permanent. I know you will overcome this with your willpower and tenacity. I believe in you.
        </p>
        <p>
            I'm looking forward to celebrate not just your birthday, but also your life. Every milestone that you
            reach, every achievement that you acquire, every hurdle that you clear. I will be there to celebrate those.
            I want to forever celebrate you for simply existing in this world. Because I can't imagine what this world would
            look like without you in it.
        </p>
        <p>
            My warm and bright ray of sunshine, my sweet scent of spring, my eternal love. I wish you a happy 27th birthday, may all your wishes and desires come true.
        </p>
        <p>
            Your biggest admirer,
        </p>
        <p>
            Lenh
        </p>
        <p>
            P/S: I will cherish you forever.
        </p>
        <div class="center">
            <img src="assets/cinnamoroll-1.gif" title="I love you">
        </div>
    }
</div>